@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body,
* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.body {
  max-width: 1366px;
  margin: 0 auto;
}

img {
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 20px;
}

.logo {
  padding-top: 2px;
}

.login {
  display: flex;
  align-items: center;
}

.header select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url(img/arrow-lang.svg) no-repeat right 8px #fff;
  outline: 0;
  border: none;
  padding: 0 9px;
  font-size: 12px;
  line-height: 22px;
  margin: 0 20px 0 0;
}

.login_button {
  background: #000000;
  border-radius: 14px;
  font: 700 11px Open Sans;
  color: #fff;
  border: none;
  padding: 6px 15px 7px 16px;
  cursor: pointer;
}

.search_bg {
  background: url(../img/search.jpg);
  height: 600px;
}

.search_block {
  display: flex;
  flex-direction: column;
  padding: 103px 0 0 147px;
  max-width: 438px;
  align-items: center;
}

.search_head {
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  padding: 0 0 27px;
}

.search select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url(img/arrow.svg) no-repeat right 20px center #fff;
  outline: 0;
  border: none;
  border-radius: 50px;
  padding: 14px 20px;
  font-size: 16px;
  line-height: 22px;
}

.search_age,
.search_sex {
  display: flex;
  flex-direction: column;
}

.search_age {
  padding-top: 20px;
}

.search_mw {
  margin-top: 10px;
  width: 290px;
}

.search_ages {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.search_age span,
.search_sex span {
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.search_hr {
  background: #ffffff;
  border-radius: 12px;
  width: 18px;
  height: 2px;
  margin: 0 11px;
}

.search_age1,
.search_age2 {
  width: 125px;
}

.search_button {
  background: #f31d34;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 290px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 14px 0;
  cursor: pointer;
  margin: 30px 0;
}

.search_agree {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

.search_agree a {
  color: #ffffff;
}

.locate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locate_left {
  padding: 207px 60px 0;
}

.locate_right {
  margin: 42px 60px;
}

.locate_head {
  font-size: 36px;
  font-weight: 400;
  line-height: 49.03px;
}

.locate_text {
  font-size: 16px;
  line-height: 28px;
  padding: 30px 0 0;
  width: 403px;
}

.chat {
  background: #f31d34;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
}

.chat_left {
  margin: 42px 0;
}

.chat_right {
  width: 100%;
}

.chat_head {
  font-size: 36px;
  line-height: 49px;
  text-align: right;
  color: #ffffff;
  margin: 207px 0 0;
}

.chat_text {
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  margin: 30px 0 0;
}

.match {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
}

.match_left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.match_head {
  font-size: 36px;
  line-height: 49.03px;
  padding-top: 207px;
}

.match_text {
  margin: 30px 0 0;
  font-size: 16px;
  line-height: 28px;
}

.match_right {
  flex: 1;
  padding: 42px 0;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0;
}

nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

nav a:nth-child(2) {
  margin: 0 37px;
}

.copyright {
  padding: 50px 0px 81px;
  font-size: 12px;
  color: #999999;
  text-align: center;
}

input[type='checkbox'] {
  display: none;
}

#btn {
  transform: translate(-50%, -50%);
}

#cnt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 121px 0 0;
  display: none;
  pointer-events: none;
  z-index: 1;
}

.close {
  position: fixed;
  top: 30px;
  right: 29px;
  display: none;
  cursor: pointer;
}

.content_logo {
  position: fixed;
  top: 13px;
  left: 20px;
}

input:checked + div + #cnt {
  display: flex;
  flex-direction: column;
}

input:checked + div + #cnt + .close {
  display: block;
  z-index: 2;
}

.content_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_text {
  font-size: 36px;
  line-height: 49px;
}

.content_email {
  background: #f31d34;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  width: 365px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
}

.content span {
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0;
}

.content_fb {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4267b2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  width: 365px;
  height: 50px;
  cursor: pointer;
  pointer-events: all;
}

.content_fb svg,
.content_google svg {
  margin: 0px 5px 0 1px;
}

.content_google {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  width: 365px;
  height: 50px;
  cursor: pointer;
  margin: 20px 0 0;
  pointer-events: all;
}

.content label {
  background: #ffffff;
  border: 1px solid #d2d2d7;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  padding: 15px 13px 13px 20px;
  font-size: 16px;
  width: 365px;
  height: 50px;
  justify-content: space-between;
  margin-top: 50px;
  pointer-events: all;
}

.content label svg {
  margin: -3px -1px;
  cursor: pointer;
  pointer-events: all;
}

input[type='email'] {
  border: none;
  width: 308px;
  outline: none;
}

input[type='password'] {
  background: #ffffff;
  border: 1px solid #d2d2d7;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  padding: 13px 13px 13px 20px;
  font-size: 16px;
  width: 365px;
  height: 50px;
  margin: 10px 0 20px;
  pointer-events: all;
}

.content input::placeholder {
  font-size: 16px;
  color: #999999;
}

.content_rules {
  font-size: 11px;
  line-height: 15px;
  color: #999999;
  margin-top: 50px;
}

@media (max-width: 1366px) {
  .locate_right img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  }

  .chat_left img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  }

  .chat_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chat_head {
    margin: 0;
  }

  .search_bg {
    background-position: center;
  }
}

@media (max-width: 1294px) {
  .locate_left {
    padding: 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chat_head {
    margin: 0;
  }

  .match_right img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .search_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search_block {
    padding: 0;
    max-width: 100%;
  }

  .search_head {
    text-align: center;
  }

  .locate {
    flex-direction: column;
    align-items: center;
  }

  .locate_text {
    width: 100%;
  }

  .locate_left {
    padding: 60px 60px 0;
  }

  .chat {
    flex-direction: column-reverse;
    padding: 0 20px;
  }

  .chat_left {
    display: flex;
    justify-content: center;
  }

  .chat_right {
    align-items: center;
  }

  .chat_head {
    margin: 60px 0 0;
  }

  .match {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .match_head {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .search_head {
    text-align: center;
    padding: 0 20px 27px;
  }

  .locate_left {
    padding: 60px 20px 0;
  }

  .locate_right {
    margin: 0 60px;
  }

  .match_right {
    padding: 42px 0 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a:nth-child(2) {
    margin: 20px 0;
  }

  .copyright {
    padding: 50px 60px 81px;
  }

  .content_rules {
    padding: 0 20px;
  }

  .content_logo {
    position: fixed;
    top: 30px;
    left: 40px;
  }
}

@media (max-width: 475px) {
  .content label,
  input[type='password'],
  .content_email,
  .content_fb,
  .content_google {
    width: 280px;
  }
}
